<template>
  <div class="header">
    <div class="header-items">
      <img :src="require('@/assets/smartomato-logo.png')" width="44" height="44" class="img1" />
      <ul class="navigation">
        <li class="navigation-item">Рестораны</li>
        <li class="navigation-item">Куреры</li>
        <li class="navigation-item">Меню</li>
        <li class="navigation-item">Заказы</li>
      </ul>
    </div>
  </div>
</template>

<script>


export default {
  components: {
    
  }
}
</script>

<style>
</style>
