<template>
	<div class="content">
		<div class="zero-data">
			<div class="header-title">Ресторан не выбран</div>
			<div class="caption">Выберите ресторан, чтобы посмотреть подробную информацию или начать редактирование.</div>
		</div>
	</div>
</template>