<template>
	<div class="main-view">
		<div class="sidebar">
			<div class="link-list">
				<a href="/" class="side-link">food</a>
			</div>
			<a href="/" class="add-btn">
				<div class="circle-plus">
					<div>+</div>
				</div>
				Добавить ресторан
			</a>
		</div>
		<component :is="selectedContent"></component>
	</div>
</template>

<script>

import Restaurant from './Restaurant-content'

	export default {
		data() {
			return {
				form: {
					restaurants: {
						sidebar: {
							links: [
								'food',
								'drink'
							],
							addBtn: 'ресторан'
						},
					},
				},
				selectedContent: 'Restaurant'
			}
		},
		components: {
			Restaurant,
		}
	}
</script>