* {
			box-sizing: border-box;
			padding: 0;
			margin: 0;
		}
		body, html {
			height: 100%;
		}
		.top {
			height: 50px;
		}
		.main-view {
			display: flex;
			height: calc( 100% - 64px);
		}
		.sidebar {
			flex: 0 0 301px;
			overflow: auto;
			border-right: 1px solid #dadada;
			background: #f2f2f2;
		}
		.content {
			flex: 1;
		}
		.side-link {
			display: block;
		    padding: 15px 20px;
		    color: #333;
		    border-top: 1px solid #dadada;
		    zoom: 1;
		    text-decoration: none;
		    border-bottom: 1px solid #dadada;
		}
		.add-btn {
			display: block;
			margin:auto;
		    padding: 15px 20px;
		    text-decoration: none;
		    color: #333;
		}
		.circle-plus {
			border-radius: 50%;
			width: 30px;
			height: 30px;
			background: #dadada;
			color: white;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
		}
		.circle-plus div {
			vertical-align: middle;
		}
		.zero-data {
			margin-top: 50px;
		    text-align: center;
		    color: #7f7f7f;
		    font-weight: 100;
		}
		.header-title {
			font-size: 24px;
		}
		.caption {
			font-size: 16px;
		    max-width: 400px;
		    margin: 10px auto;
		}