*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;

}

.header{
    background-color: #f96952;
    width: 100%;
    height: 100%;
}

.header-items{
    display: flex;
   
}

.img1{
    margin: 10px;
    margin-left: 30px;
}

.img2{
    margin-right: 30px;
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
}

.navigation-item{
    margin-right: 20px;
    cursor: pointer;
}

#app {
    height: 100%;
}
