<template>
  <div id="app">
     <header-app />
     <Main/>  
  </div>
</template>

<script>
import Header from './views/Header'
import Main from './components/Sidebar'
export default {
  components:{
    'header-app': Header,
    Main,
  },
  data:() => ({
    
  })
}
</script>

<style>

</style>
